<div class="container mt-5">
  <div class="card card-body rounded">
    <div class="card-title fs-3">
      Wizja
      <hr/>
    </div>
    <div class="card-text lead fw-normal text-muted mb-0">
      <p>Polski Związek Niewidomych to organizacja osób niewidomych i tracących wzrok, dbająca o zaspokojenie ich potrzeb. To skuteczny, kompetentny i niezależny finansowo rzecznik spraw tego środowiska.</p>
    </div>
  </div>

  <div class="card card-body mt-3 rounded">
    <div class="card-title fs-3">
      Misja
      <hr/>
    </div>
    <div class="card-text lead fw-normal text-muted mb-0">
      <div class="row">
        <div class="col md-3">
          <img src="/assets/breil.jpg" class="img-fluid rounded mb-5 mb-lg-0" />
        </div>
        <div class="col md-8">
          <p class="lead fw-normal text-muted mb-0">Tracisz wzrok u nas uzyskasz pomoc.
                    Jesteśmy organizacją kompetentną dzięki, której możesz osiągnąć samodzielność i aktywność życiową, zrealizować potrzeby społeczne i
                     zawodowe. Pomagamy niewidomym i słabowidzącym oraz ich bliskim w adaptacji do nowych warunków życia na terenie całego kraju.
                     Udzielamy porad i informacji. Zapewniamy odnalezienie sensu życia poprzez wsparcie psychologiczne w procesie rehabilitacji i
                     integracji. Realizujemy indywidualne i grupowe szkolenia. Wyznaczamy standardy funkcjonowania osób niewidomych i słabowidzących w
                     Polsce. Zmieniamy ich postrzeganie poprzez edukację społeczeństwa.
                    Integrujemy środowisko i jesteśmy jego rzecznikiem.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-body mt-3 rounded">
    <div class="card-title fs-3">
      Aktywność społeczna
      <hr/>
    </div>
    <div class="card-text lead fw-normal text-muted mb-0">
      <p class="lead fw-normal text-muted mb-4">Polski Związek Niewidomych odgrywa ważną rolę jako rzecznik osób niewidomych i słabowidzących.
        Osoby z kierownictwa organizacji biorą aktywny udział w pracach komisji, zespołów, grup eksperckich takich jak:</p>
      <ul class="lead fw-normal text-muted mb-4" style="padding-left: 50px">
        <li>Sejmowa i Senacka Komisja Polityki Społecznej, Rodziny,</li>
        <li>Sejmowa Komisja Polityki Senioralnej, Sejmowa i Senacka Komisja Kultury i Środków Przekazu,</li>
        <li>Parlamentarny Zespół ds. Osób z Niepełnosprawnością Narządu Wzroku,</li>
        <li>Krajowa Rada Konsultacyjna ds. Osób Niepełnosprawnych przy Pełnomocniku Rządu,</li>
        <li>Rada Ekspertów i Forum funkcjonująca przy prezesie Urzędu Transportu Kolejowego,</li>
        <li>Komitet Dostępność Plus w ochronie zdrowia,</li>
        <li>Zespół Konsultacyjny Dialog dla Zdrowia działający przy Ministerstwie Zdrowia,</li>
        <li>Rada Społeczna do Spraw Osób Niepełnosprawnych m.st Warszawy,</li>
        <li>Narodowa Rada Rozwoju działająca przy Prezydencie RP,</li>
        <li>Narodowy Komitet Obchodów 100-lecia Niepodległości Polski przy Prezydencie RP,</li>
        <li>Europejska Unia Niewidomych (EBU), Komisja ds. Współpracy z Unią Europejską,</li>
        <li>Światowa Unii Niewidomych (WBU),</li>
        <li>Koalicja na Rzecz Osób z Niepełnosprawnością.</li>
        <li>Na terenie całego kraju w różnych jednostkach opiniodawczo-doradczych reprezentujących osoby z niepełnosprawnością − społeczne rady, zespoły konsultacyjne, grupy dialogu społecznego – działają przedstawiciele Polskiego Związku Niewidomych.</li>
      </ul>
    </div>
  </div>
</div>
