<div class="container mt-5">
  <div class="card card-body rounded">
    <div class="card-title fs-3">
      Skontaktuj się z nami
    </div>
    <div class="card-text lead fw-normal text-muted mb-0">
      <div class="row">
        <p>Jeśli masz jakieś sugestie lub propozycje rozwoju serwisu, skontaktuj się ze mną</p>
        <hr/>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="fs-4 text-center">
            Dane kontaktowe
          </div>
          <div>
            <img src="/assets/author.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block img-contact"/>
          </div>
          <div class="mt-4 text-center">
            <a href="tel:123456789"><i class="fa fa-phone">&nbsp; +48 123-456-789</i></a><br />
            <a href="mailto:eolek2@gmail.com"><i class="fa fa-envelope">&nbsp; eolek2@gmail.com</i></a>
          </div>
        </div>
        <div class="col-8">
          <div class="fs-4 text-center">
            Kontakt
          </div>
          <div class="mt-2">
            <form #contactForm="ngForm" (ngSubmit)="sendMail()" autocomplete="off">
              <div class="form-group">
                <input type="text" class="form-control" name="name" [(ngModel)]="model.fromName" placeholder="Imię i nazwisko">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="enail" [(ngModel)]="model.fromEmail" placeholder="Adres E-mail">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" [(ngModel)]="model.subject" placeholder="Temat">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" [(ngModel)]="model.message" placeholder="Treść wiadomości" rows="5"></textarea>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary mr-2" type="submit">Wyślij wiadomość</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
